<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MKVA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
  <header>
    <nav id="topNav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i>MKVA</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">From Doc.</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/register">Login</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" href="#aboutModal" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="bg-primary" id="one">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 text-center" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="700">
                  <h2 class="margin-top-0 text-primary">COVID-19</h2>
                  <br>
                  <p class="text-faded">
                    Coronavirus disease 2019 (COVID‑19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). It was first identified in December 2019 in Wuhan, Hubei, China, and has resulted in an ongoing pandemic. As of 20 September 2020, more than 30.8 million cases have been reported across 188 countries and territories with more than 957,000 deaths; more than 21 million people have recovered.

Common symptoms include fever, cough, fatigue, shortness of breath or breathing difficulties, and loss of smell and taste. While most people have mild symptoms, some people develop acute respiratory distress syndrome (ARDS) possibly precipitated by cytokine storm, multi-organ failure, septic shock, and blood clots. The incubation period may range from one to fourteen days.

The disease mainly spreads between people when they are in close proximity. It spreads very easily and sustainably, primarily via contaminated droplets produced during breathing, coughing, sneezing, talking and singing. Many larger droplets rapidly fall to the ground, however some can be suspended in air as aerosols, especially in indoor spaces. It may also be transmitted via contaminated surfaces, although this has not been conclusively demonstrated. It can spread for up to two days prior to symptom onset, and from people who are asymptomatic. People remain infectious in moderate cases for 7–12 days, and up to two weeks in severe cases. The standard method of diagnosis is by real-time reverse transcription polymerase chain reaction (rRT-PCR) from a nasopharyngeal swab. Chest CT imaging may also be helpful for diagnosis in individuals where there is a high suspicion of infection based on symptoms and risk factors, however guidelines do not recommend using it for routine screening.

                    In all this news , a good oe is that Russia have started there test of covid vaccine and we can say in no more timme tha vaccine will reach world wide and we together can fight with this PANDEMIC
                  </p>

              </div>
            </center>
              <div class="col-lg-12 text-center" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="800">
                  <h2 class="margin-top-0 text-primary">SYMPTOMS</h2>
                  <br>
                  <p class="text-faded">
COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.<br><br>
<span><em><b>Most common symptoms:</b></em></span> <br>
Fever, Dry cough, Tiredness. <br><br>

<span><em><b>Less common symptoms:</b></em></span> <br>
Aches and pains, Sore throat, Diarrhoea, Conjunctivitis, Headache, Loss of taste or smell, A rash on skin, or Discolouration of fingers or toes.<br><br>


<span><em><b>Serious symptoms:</b></em></span> <br>
Difficulty breathing or shortness of breath, Chest pain or pressure, Loss of speech or movement.<br><br>
Seek immediate medical attention if you have serious symptoms.  Always call before visiting your doctor or health facility.
People with mild symptoms who are otherwise healthy should manage their symptoms at home.
On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.
                  </p>

              </div>
              <div class="col-lg-12 text-center" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="900">
                  <h2 class="text-primary">PREVENTION</h2>
                  <br>
                  <p class="text-faded">
                    To prevent infection and to slow transmission of COVID-19, do the following:<br>
                    <div class="text-faded" id="prevention" >
                      <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
                      <li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
                      <li>Avoid touching your face.</li>
                      <li>Cover your mouth and nose when coughing or sneezing.</li>
                      <li>Stay home if you feel unwell.</li>
                      <li>Refrain from smoking and other activities that weaken the lungs.</li>
                      <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
                    </div>
                  </p>

              </div>
          </div>
      </div>
      <div id="viewbtn">
        <a href="https://www.covid19india.org/" class="btn btn-default btn-xl page-scroll">Learn More</a>
      </div>
      <br><br><br>
  </section>

  <section class="container-fluid" id="four">
        <div class="row">
            <div id="post" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <h2 class="text-center text-primary"><i class="ion-ios-heart"></i>     From Doctors</h2>
                <hr>

                <div class="media wow" data-aos="zoom-in">
                    <h3>Dr. Sankar Soni</h3>
                    <div class="media-body media-middle">
                        <p>Bed available in JK Hospital, Jaipur for COVID piatient.</p>
                    </div>
                    <div class="media-right">
                      <a href="#">
                        <img src="./assets/docb.jpg" width="50px" height="50px" class="img-circle">
                      </a>
                    </div>
                </div>
                <hr>

                <div class="media wow" data-aos="zoom-in">
                    <h3>Dr. Aditya Sen</h3>
                    <div class="media-left">
                      <a href="#">
                        <img src="./assets/docb.jpg" width="50px" height="50px" class="img-circle">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                        <p>IBM Phase-1 employees tested COVID +ve </p>
                    </div>
                </div>
                <hr>

                <div class="media wow"data-aos="zoom-in">
                    <h3>Dr. Kavita Rane</h3>
                    <div class="media-body media-middle">
                        <p>Keep any items bought in sun for a day and wash them in salt water before uing</p>
                    </div>
                    <div class="media-right">
                      <a href="#">
                        <img src="./assets/docg.jpg" width="50px" height="50px" class="img-circle">
                      </a>
                    </div>
                </div>
                <hr>

                <div class="media wow" data-aos="zoom-in">
                    <h3>Dr. N.K. Neema</h3>
                    <div class="media-left">
                      <a href="#">
                        <img src="./assets/docb.jpg" width="50px" height="50px" class="img-circle">
                      </a>
                    </div>
                    <div class="media-body media-right">
                        <p>Consult doctors over MKVA and get proper medicines and stay safe at home</p>
                    </div>
                </div>
                <hr>

                <div class="media wow" data-aos="zoom-in">
                    <h3>Dr. Kanika Awasthi</h3>
                    <div class="media-body media-middle">
                        <p>Try to use digital currency as COVID transmits more by touching other's things</p>
                    </div>
                    <div class="media-right">
                      <a href="#">
                        <img src="./assets/docg.jpg" width="50px" height="50px" class="img-circle">
                      </a>
                    </div>
                </div>
            </div>

            <div class="beds">
              <h2 class="text-center text-primary"><ion-icon name="bed-outline"></ion-icon>     Beds</h2>
              <div data-aos="zoom-out"><h3>JK Hospital (G), Jaipur : 4</h3></div>
              <div data-aos="zoom-out"><h3>SAIIMS, Indore : 4</h3></div>
              <div data-aos="zoom-out"><h3>Bombay Hospital, Mumbai : 10</h3></div>
              <div data-aos="zoom-out"><h3>Apple Hospital, Pune : 5</h3></div>
              <div data-aos="zoom-out"><h3>MY Hospital (G), Indore : 7</h3></div>
            </div>
        </div>
    </section>

  <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 column">
                    <h4>Contact Us</h4>
                    <span><b>Email: </b>robust_mkva@gmail.com</span><br>
                    <span><b>Contact No.:</b> +91-6457812453</span>
                </div>
                <div class="col-xs-6 col-sm-3 column">
                    <h4>About Us</h4>
                    <span>#MKVA</span><br>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Know More</button>
                </div>
                <div class="col-xs-12 col-sm-3 column">
                    <h4>Please Review us</h4>
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Review</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 text-right">
                    <h4>Follow Us</h4>
                    <ul class="list-inline">
                      <li><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>
                    </ul>
                </div>
            </div>
            <br/>
        </div>
    </footer>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="color:white;">
          <h2 class="text-center">HEALTH CARE</h2>

          <p class="text-justify">
            People are so scared of this pandemic that they do not prefer visiting a doctor even if they are sick.
To minimize the fear, we are developing a website that helps people to connect with doctors and healthcare professionals
The website contains a chatbot application through which people can interact with the doctor and consult them.
People can inform about the situation near them so that other people near them can help by posting their situation
Doctors can post about new developments like new symptoms, it's precautions, etc, and can help people to be at a safer side.
This website can help connect people, in times of such pandemics.
          </p>
          <br/>
          <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        </div>
      </div>
      </div>
  </div>


    <!--scripts loaded here -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
